/* || General setup */


html {
  font-size: 10px;
  background-color: #a9a9a9;
}

body {
	text-align:center;
	margin-top:30vh;
	margin-bottom:30vh;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

/* || main layout */

div {
	display:inline-block;
	padding: 2em;
	border: 1px solid black;
	border-radius: 1em;
	background-color: #ffb880;
}

img {
	max-height:166px;
	max-width:166px;
}

.return {
    padding:1.5rem;
	display:block;
}

a {
	display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}