/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #a9a9a9;
}

body {
	text-align:center;
	margin: 0 auto;
	margin-top:20vh;
	margin-bottom:20vh;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || main layout */

form {
	display:inline-block;
	padding: 2em;
	border: 1px solid black;
	border-radius: 1em;
	background-color: #ffb880;
	text-align:left;
}

/* Выравнивание поля логина с паролем */
input[id='name']{
	margin-left:12px;
}

ul.sex {
	list-style-type:none;
	margin-left:85px;
}

/* Выравнивание прочих полей */
input[type='email']{
	margin-left:175px;
}

input[type='password']{
	margin-left:255px;
}

input[id='personal_name']{
	margin-left:50px;
}

input[type='date']{
	margin-left:10px;
}

select {
	margin-left:5px;
}

.button {
	text-align:center;
}

button {
	width:150px;
	height:30px;
}

abbr {
	color:red;
}